.settings
.classpath
.project
.DS_Store
.tern-project
test-results.xml
.rest-shell.log
spring-shell.log
.springBeans
git.properties
web/app/scripts/config.js
.externalToolBuilders/
.sonar/
.tmp/
.sass-cache/
node_modules/
bower_components/
coverage/
dist/
bin/
target/
